$containerMaxWidth: 1280px;
$containerMinwidth: 320px;
$gutter: 20px;


$fontSize: 14px;
$lineHeight: 20px;
$fontfamily: 'Source Code Pro',
monospace;

$Formular: "Formular";
$acentColor: #00FA9A;
$darkColor: #000;
$whiteColor: #fff;


$mb24: 24px;
$mb40: 40px;
$sectionBottom: 64px;

$md1: 1439.98;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;