//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Подключаем переменные>=======================================================================================
@import "_vars";
//</Подключаем переменные>=======================================================================================

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
}


body {

  font-family: "Source Code Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000;

  @media (max-width:$md3+px) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width:$md3+px) {
    font-size: 18px;
    line-height: 24px;
  }
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}


//</ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  @media (min-width:$md2+px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "blocks/_home";

@import "ui/_ui";