.block-bottom {
   height: 80px;
   background-image: url(../img/icons/block-bottom-dots.svg);
   background-repeat: repeat;
   background-size: cover;
   background-position: center;
   align-items: center;
   display: flex;

   @media (min-width:$md1+px) {
      max-width: 1280px;
      margin: 0 auto 80px auto;
   }

   &__text {
      @include formular(18, 24);
      background-color: #fff;
      margin: 0 auto;
      text-align: center;

      @media (min-width:$md3+px) {
         padding: 12px 15px;
      }

      @media (min-width:$md1+px) {
         font-size: 24px;
         line-height: 32px;
         padding: 5px 10px;
      }

      @media (max-width:$md3+px) {
         span {
            display: block;
         }
      }
   }
}