.home {
   padding-top: 24px;

   &__head {
      padding-left: 16px;

      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
      }
   }

   &__brand {
      font-family: 'Formular';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;

      @media (max-width:$md3+px) {
         display: block;
         margin-bottom: 24px;
      }
   }

   &__curse {
      font-family: 'Formular';
      font-style: normal;
      font-weight: bold;
      background: #00FA9A;
      border: 1px solid #000000;

      @media (max-width:$md3+px) {
         padding: 8px;
         margin-left: auto;
         width: 270px;
         margin-right: 16px;
         margin-bottom: -1px;
      }

      @media (min-width:$md3+px) {
         margin-top: 9px;
         padding: 16px;
         font-size: 32px;
         line-height: 40px;
      }
   }

   &__body {
      position: relative;
      border: 1px solid #000000;

      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }

      @media (max-width:1200px) {
         padding: 71px 16px 25px 16px;
      }

      @media (min-width:1200px) {
         padding: 80px;
      }

   }

   &__col {
      flex: 1 1 50%;

      @media (max-width:$md3+px) {
         margin-bottom: 24px;
      }

      @media (min-width:$md3+px) {
         &:first-child {
            padding-right: 32px;
         }
      }
   }

   &__col-video {
      @media (max-width:$md3+px) {
         margin-bottom: 32px;
      }

      @media (min-width:$md1+px) {
         flex: 1 0 544px;
      }

      .video-container {
         margin-bottom: 16px;
      }
   }

   &__col-content {
      @media (min-width:$md3+px) {
         padding-top: 40px;
      }

      .bold {

         font-weight: bold;
         margin-bottom: 16px;

         @media (max-width:$md2+px) {
            font-size: 18px;
            line-height: 24px;
         }

         @media (min-width:$md2+px) {
            font-size: 24px;
            line-height: 32px;
         }
      }

      a {
         font-weight: bold;
      }
   }

   .block {
      @media (max-width:$md2+px) {
         &:not(:last-child) {
            margin-bottom: 32px;
         }
      }

      @media (min-width:$md2+px) {
         &:not(:last-child) {
            margin-bottom: 40px;
         }
      }
   }

   &__lesson {
      .title-block {
         font-family: 'Formular';
         font-style: normal;
         font-weight: bold;

         @media (max-width:$md2+px) {
            margin-bottom: 24px;
            font-size: 24px;
            line-height: 32px;
         }

         @media (min-width:$md2+px) {
            margin-bottom: 40px;
            font-size: 32px;
            line-height: 40px;
         }
      }

      h1 {
         font-size: inherit;

         span {
            display: inline;
            background: #00FA9A;
            box-shadow: -10px 0 0 #00fa9a, 10px 0 0 #00fa9a;
            padding: 1 4px;
         }
      }

      p {
         margin-bottom: 24px;
      }

      li {
         display: flex;
         align-items: center;

         @media (max-width:$md2+px) {
            &:not(:last-child) {
               margin-bottom: 12px;
            }
         }

         @media (min-width:$md2+px) {
            &:not(:last-child) {
               margin-bottom: 16px;
            }
         }

         &:before {
            content: '';
            top: 0;
            left: 0;
            width: 8px;
            height: 8px;
            flex: 0 0 8px;
            border-radius: 50%;
            background-color: #000;
            margin-right: 24px;
         }
      }
   }

   &__label {
      position: absolute;
      top: -2px;
      left: -2px;
      width: 60px;
      height: 58px;
      background-color: #fff;
   }

   &__btn {
      display: flex;
      align-items: center;

      &:after,
      &:before {
         content: '';
         height: 16px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;

         @media (max-width:$md3+px) {
            width: 24px;
         }

         @media (min-width:$md3+px) {
            width: 40px;
         }
      }

      &:after {
         background-image: url(../img/arrow-right.svg);
         margin-left: 24px;
      }

      &:before {
         background-image: url(../img/arrow-left.svg);
         margin-right: 24px;
      }

      span {
         border-bottom: 1px solid #000;
      }
   }
}