.program {
   @media (min-width:$md3+px) and (max-width:$md1+px) {
      margin-left: 24px;
      margin-right: 24px;
   }

   @media (min-width:$md3+px) {
      border: 1px solid $darkColor;

      &__container {
         padding: 32px 32px 12px 32px;
      }
   }

   @media (min-width:$md1+px) {
      &__container {
         padding: 80px 80px 40px 80px;
      }
   }

   &__title {
      @media (max-width:500px) {
         span {
            display: block;
         }
      }
   }
}

.accordion {
   &__list {}

   &__item {
      border-bottom: 1px solid $darkColor;

      &:first-child {
         border-top: 1px solid $darkColor;
      }

      &:last-child {
         border-bottom: none;

         .accordion__item-head span {
            margin-bottom: 0;
            //flex: 0 0 175px;
         }
      }
   }

   &__item-head {
      position: relative;
      @include formular (18, 24);
      cursor: pointer;

      @media (max-width:$md3+px) {
         padding: 16px 65px 24px 0;
      }

      @media (min-width:$md3+px) {
         display: flex;
         align-items: center;
         padding: 20px 65px 20px 0;
      }

      @media (min-width:$md1+px) {
         font-size: 24px;
         line-height: 32px;
         padding: 32px 65px 32px 0;
      }

      p {
         @media (min-width:$md3+px) {
            margin-left: 8px;
         }
      }

      span {
         display: inline-block;
         background-color: $acentColor;
         padding: 4px;
         color: $darkColor;


         @media (max-width:$md3+px) {
            margin-bottom: 8px;
         }

         @media (min-width:$md3+px) {
            flex-shrink: 0;
         }

      }

      &:after {
         content: '';
         position: absolute;
         top: 50%;
         right: 8px;
         transform: translateY(-50%);
         background-image: url(../img/icons/accordion-arrow.svg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         width: 24px;
         height: 12px;
         transition: transform 0.2s ease-out;

         @media (min-width:$md1+px) {
            right: 28px;
         }


      }

      &.active {
         &:after {
            transform: rotate(180deg);
         }
      }

      &:last-child {
         &:after {
            display: none;
         }
      }

      .acent {
         background-color: $acentColor;

         @media (max-width:$md3+px) {
            max-width: 70%;
         }

      }
   }

   &__item-content {
      padding: 0 8px 0 16px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;


      &.active {
         max-height: 100%;
         overflow: visible;
         padding-bottom: 8px;
      }



      span {
         display: inline-block;
         margin-bottom: 16px;
         @include formular (14, 20);


         @media (min-width:$md1+px) {
            font-size: 18px;
            line-height: 24px;
         }
      }

      p {
         margin-bottom: 24px;

         @media (min-width:$md1+px) {
            margin-bottom: 32px;
         }
      }
   }

   &__item-list {
      li {
         position: relative;
         padding-left: 20px;
         margin-bottom: 16px;

         &:after {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            background-color: #000;
            width: 6px;
            height: 6px;
            border-radius: 50%;


         }

         ul {
            margin-top: 16px;

            li {
               &:after {
                  top: 8px;
                  left: 3px;
                  background: #BDBDBD;
               }
            }
         }

         @media (min-width:$md1+px) {
            &:last-child {
               margin-bottom: 32px;
            }
         }
      }
   }

}