.success {
   @media (min-width:$md3+px) {
      margin-bottom: 38px;
   }
}

.success-container {
   position: relative;

   @media (max-width:$md2+px) {
      padding-right: 0;
   }
}

.success-body {
   @media (min-width:1024px) and (max-width:$md1+px) {
      padding: 0 40px;
   }
}

.success-slider {

   @media (min-width:$md2+px) {
      margin-left: -16px;
      margin-right: -16px;
   }
}


.slider-item {

   width: 240px;

   @media (max-width:$md3+px) {
      margin: 0 12px;
   }

   @media (min-width:$md3+px) {
      margin: 0 16px;
   }

   &__img {
      border-radius: 50%;
      border: 1px solid $darkColor;
      position: relative;
      width: 193px;
      height: 193px;
      margin-bottom: 60px;

      @media (min-width:$md1+px) {
         width: 238px;
         height: 238px;
      }


      &:after {
         content: '';
         position: absolute;
         top: 22px;
         left: 19px;
         height: 100%;
         width: 100%;
         z-index: -1;
         border-radius: 50%;
         border: 1px solid $darkColor;
      }

      img {
         border-radius: 50%;
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
      }
   }

   &__dec {
      p {
         display: inline;
         margin-bottom: 16px;
         background-color: $acentColor;
         box-shadow: -6px 0 0 $acentColor, 10px 0 0 $acentColor;
         font-weight: 700;

         @media (max-width:$md3+px) {
            padding: 1px 0;
         }
      }

      span {
         display: block;
      }
   }
}

.success-slider__control {
   @media (max-width:$md2+px) {
      display: none;
   }



}

.success-slider__arrow {
   position: absolute;
   top: 41%;
   transform: translateY(-50%);
   width: 40px;
   height: 16px;
   cursor: pointer;

   svg {
      width: 100%;
      height: 100%;
   }

   &-prev {
      left: 34px;

      @media (min-width:$md1+px) {
         left: 0;
      }
   }

   &-next {
      right: 34px;

      @media (min-width:$md1+px) {
         right: 0;
      }
   }
}