.training-item {

   @media (min-width:$md3+px) {
      display: flex;
   }

   &__name {}

}

.training {
   @media (min-width:$md3+px) {
      margin-right: 24px;
      margin-left: 24px;
   }

   &__container {
      padding: 0;
   }
}


.training {

   &__body {
      border: 1px solid $darkColor;
      padding: 21px 15px;

      @media (max-width:$md3+px) {
         margin-left: 16px;
         margin-right: 16px;
      }

      @media (min-width:$md3+px) {
         padding: 32px 32px 0 32px;
      }

      @media (min-width:$md1+px) {
         padding: 80px 80px 40px 80px;
      }
   }

   &__title {}

   &__item {
      padding-top: 24px;

      &:first-child {
         border-top: 1px solid $darkColor;
      }

      &:not(:last-child) {
         padding-bottom: 24px;
         border-bottom: 1px solid $darkColor;
      }

      @media (min-width:$md3+px) {
         display: flex;
         padding: 32px 0;
      }

      @media (min-width:$md1+px) {
         padding: 40px 0;
      }
   }

   &__item-name {
      @include formular(18, 24);
      margin-bottom: 24px;

      @media (min-width:$md3+px) {
         flex: 0 0 40%
      }

      @media (min-width:$md1+px) {
         font-size: 24px;
         line-height: 32px;
      }
   }

   p {
      @media (min-width:$md3+px) {
         padding-right: 15px;
      }
   }
}